header{
    font-family: 'PT Sans', sans-serif;
}
#menu-bar{
    width: 40px;
    position: absolute;
    z-index: 2;
    right: 35px;
    top: 35px;
    cursor: pointer;
}
.bar{
    height: 6px;
    width: 100%;
    background: white;
    border-radius: 5px;
    transition: all 0.5s ease-out;
}
#bar1{
    transform: translateY(-4px);
    transition: all 0.6s ease-out;
}
#bar3{
    transform: translateY(4px);
    transition: all 0.5s ease-out;
}
.change .bar{
    background-color: rgb(8, 205, 169);
}
.change #bar1{
    transform: translateY(6px) rotate(225deg);
}
.change #bar3{
    transform: translateY(-6px) rotate(-225deg);
}
.change #bar2{
    opacity: 0;
}
/* --------------------------------------------------------------- */
/* Menu link CSS */
.nav{
    align-items: center;
    padding: 0;
    margin-top: 30vh;
    margin-bottom: auto;
    transition: 0.3s ease;
    visibility: hidden;
}
.nav li{
    list-style: none;
    position: relative;
    text-align: center;
    justify-content: center;
    padding: 8px 0;
    font-size: 3rem;
}
.nav li a{
    color: white;
    text-decoration: none;
    font-size: 50px;
    transition: all 0.5s ease;
}
.nav li a:hover{
    font-weight: bold;
    color: rgb(76, 183, 255);
    transition: all 0.5s ease-out
    
}
li.current > a{
    color: rgb(56, 211, 238);
}
li.current > a:hover{
    color: rgb(0, 255, 255);
    transition: all 0.5s ease-out;
}
.menuIndex .nav-itemI{
    transform: translate3d(1000px, -1000px, 0);
    transition: all 0.7s ease-out;
}

.nav-itemI.show{
    transform: translate3d(0,0,0)
}
.nav-itemI:nth-child(1){
    transition-delay: 0.6s;
}
.nav-itemI:nth-child(2){
    transition-delay: 0.4s;
}
.nav-itemI:nth-child(3){
    transition-delay: 0.2s;
}
.nav-itemI:nth-child(4){
    transition-delay: 0.1s;
}
.change{
    visibility: visible;  
}
.menu-bg{
    position: fixed;
    background-image: url('../img/coffe.jpg');
    background-size: cover;
    background-attachment: fixed;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: translate3d(100%, -100%, 0);
    transition: all 0.9s ease-out;
    
}
.menu-bg::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(to right, #726565, #410000);
    opacity: 0.7; 
}
.change-bg {
    transform: translate3d(0,0,0);
    -webkit-animation: change-bg 1s ease-out 1s 3 alternate;
}
@-webkit-keyframes change-bg {
    0%       { left:5px; }
    25%, 75% { left:15px; }
    50%      { left:20px; }
    100%     { left:0;}

    0%       { bottom:5px; }
    25%, 75% { bottom:15px; }
    50%      { bottom:20px; }
    100%     { bottom:0;}
}
/* ------------------------------------------------------------------ */
/* About Page background setting */
.nav-itemA{
    transform: translate3d(0, -1000px, 0);
    transition: all 0.7s ease-out;
}
.aboutShow{
    transform: translate3d(0,0,0)
}
.nav-itemA:nth-child(1){
    transition-delay: 0.6s;
}
.nav-itemA:nth-child(2){
    transition-delay: 0.4s;
}
.nav-itemA:nth-child(3){
    transition-delay: 0.2s;
}
.nav-itemA:nth-child(4){
    transition-delay: 0.1s;
}
.about-bg{
    position: fixed;
    background-image: url('../img/bridge.jpg');
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    float: right;
    border-radius: 20px;
    width: 100%;
    height: 100vh;
    transform: translate3d(0, -100%,0);
    transition: all 0.9s ease-out;
}
.about-bg::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(to right, #2f342c, #02390b);
    opacity: 0.5; 
}

.changeAbout-bg{
    transform: translate3d(0,0,0);
    overflow-y: hidden;
    -webkit-animation:about-bg 1s ease-out 1s 3 alternate;
}
/* Bounce affect for css */

@-webkit-keyframes about-bg {
      0%       { bottom:5px; }
      25%, 75% { bottom:15px; }
      50%      { bottom:20px; }
      100%     { bottom:0;}
}
