// Menu Button
.menu-btn{
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;

    .btn-line{
        width: 40px;
        height: 6px;
        border-radius: 5px;
        margin: 0 0 5px 0; // top = 0, right = 0, bttom = 5, left = 0
        background: set-text-color($primary-color);
        @include easeOut;
    }

    // Rotate Into X With Menu Lines
    &.close{
        transform: rotate(180deg);
        &:hover{
            transform: rotate(360deg);
        }

        .btn-line{
            // Line(1) - Rotate
            background-color: rgb(8, 205, 169);
            &:nth-child(1){
                transform: translateY(16px) rotate(45deg);
            }
            // Line(2) - Hide
            &:nth-child(2){
                opacity: 0;
            }

            // Line(3) - Rotate 
            &:nth-child(3){
                transform: translateY(-6px) rotate(-45deg);
            }
        }
    }
}

// Menu Overlay
.menu{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.95;
    visibility: hidden;

    &.show{
        visibility: visible;
    }

    &-branding, 
    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }

    &-nav{
        margin: 0;
        padding: 0;
        // background: darken($primary-color, 5);
        background-image: linear-gradient(to bottom, #283048, #788488);
        list-style: none; // remove bullet point from list 
        transform: translate3d(0, -100%, 0); // animation
        @include easeOut;

        &.show{
            //slide in from top
            transform: translate3d(0,0,0)
        }
    }
    // branding site
    &-branding{
        opacity: 8;
        background-image: linear-gradient(to bottom, #1c3147, #064e55);
        transform: translate3d(0, 100%, 0);
        @include easeOut;
        
        &.show{
            transform: translate3d(0, 0, 0)
        }

        .portrait{
            .bio-image{
                // grid-area: bioimage;
                margin: auto;
                border-radius: 50%;
                border: $secondary-color 3px solid;
                // background-color: black;
                width: 250px;
                height: 250px;
                background-color: rgb(99, 198, 250);
            }
        }
    }
    .nav-item{
        transform: translate3d(600px, 0, 0);
        @include easeOut;

        &.show{
            transform: translate3d(0,0,0)
        }

        &.current > a{
            color: rgba(1, 200, 184, 0.856);

            &:hover{
                color: rgb(68, 255, 246);
                @include easeOut;
            }
        }
    }

    .nav-link{
        font-family: 'PT Sans', sans-serif;
        display: inline-block;
        position: relative;
        font-size: 50px;
        text-transform: capitalize;
        padding: 1rem 0; // 1 top and bottom , 0 left and right
        // font-weight: 300;
        color: #fff;
        text-decoration: none;
    }
    .nav-link:hover{
        font-weight: bold;
        color: $secondary-color;
        @include easeOut;
    }
}


// Delay each nav-item slide by 0.1 second
@for $x from 1 through 4{
    .nav-item:nth-child(#{$x}){
        transition-delay: $x * 0.1s; // 
    }
}
//  Same code with above
// .nav-item:nth-child(1){
//     transition-delay: 0.1s;
// }
// .nav-item:nth-child(2){
//     transition-delay: 0.2s;
// }
// .nav-item:nth-child(3){
//     transition-delay: 0.3s;
// }
// .nav-item:nth-child(4){
//     transition-delay: 0.4s;
// }