// WideScreens
@include mediaXl{
    .project{
        grid-template-columns: repeat(4, 1fr);
    }
}
// Desktop & Laptops
@include mediaLg{
    .project{
        grid-template-columns: repeat(3,1fr);
    }
    
}

// Tablets & Small Laptops
@include mediaMd{
    main#home{
        h1{
            position: relative;
            font-size: 5rem;
        }
        .Portfolio-Image{
            margin: auto;
            border-radius: 50%;
            border: $secondary-color 3px solid;
            width: 200px;
            height: 200px;
            background-color: rgb(99, 198, 250);
        }
    }
    main{
        align-items: center;
        text-align: center;

        .lg-heading{
            line-height: 1;
            margin-bottom: 1rem;
        }
    }
    ul.menu-nav,
     div.menu-branding{
        float: none;
        width: 100%;
        min-height: 0;

        &.show{
            transform: translate3d(0,0,0);
        }
    }
    .menu-nav{
        height: 75vh;
        transform: translate3d(-100%, 0,0);
        font-size: 24px;
    }
    .menu-branding{
        height: 25vh;
        transform: translate3d(100%, 0, 0);

        .portrait{
            .bio-image{
                margin: auto;
                border-radius: 50%;
                border: $secondary-color 3px solid;
                width: 150px;
                height: 150px;
                background-color: rgb(99, 198, 250);
            }
        }
    }

    .about-info{
        grid-template-areas: 'bioimage'
                             'bio'
                             'job1'
                             'job2'
                             'job3';
        
        grid-template-columns: 1fr;
        
    }
    .project{
        grid-template-columns: repeat(2, 1fr)
    }
}

// Smartphones
@include mediaSm{
    main#home, main#about, main#work, main#contact {
        h1{
        position: relative;
        font-size: 5rem;
        }
        .lg-heading{
            font-size: 3.5rem;
        }
        .text-secondary{
            font-size: 2rem;
        }
        .Portfolio-Image, .bio-image{
            margin: auto;
            border-radius: 50%;
            border: $secondary-color 3px solid;
            width: 150px;
            height: 150px;
            background-color: rgb(99, 198, 250);
        }
    }
    .project{
        grid-template-columns: 1fr;
    }
    .contact-boxes{
        div{
            padding: 0.5rem 1.5rem;
            font-size: 1.5rem;

            &:hover{
                padding: 1rem 1.5rem;
                background: #9affab;
                color: set-text-color(#9affab);
                @include easeOut;
                span{
                    color: #044d72;
                }
            }
        }
    }
}